.differencesTemplate {
    width: 100%;
    padding: 5vw 0 0;
    @media (max-width: 768px) {
        padding: 3vw 0;
    }

    .boxFlex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1vw;
        padding: 0 10%;
        margin-top: 5vw;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 2vw;
            justify-content: start;
            overflow-x: auto;
            padding: 0 5%;
        }

        .card {
            background-color: #3B73A8;
            width: calc((100% / 6) - .5vw);
            text-decoration: none;
            box-sizing: border-box;
            padding: 1vw;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                width: calc((100% / 3) - 1.5vw);
            }

            img {
                position: relative;
                display: block;
                width: 3.5vw;
                height: 3vw;
                object-fit: contain;
                @media (max-width: 768px) {
                    width: 7vw;
                    height: 7.5vw;
                }
            }

            .boxText {
                width: 100%;
                display: flex;
                justify-content: center;

                h3 {
                    font-size: 1.2vw;
                    color: white;
                    // letter-spacing: 0.2rem;
                    margin-top: .5vw;
                    text-align: center;
                    font-weight: 300;
                    line-height: 1.2;
                    font-family: "Poppins", sans-serif;

                    @media (max-width: 768px) {
                        margin-top: 1vw;
                        font-size: 2.7vw;
                    }

                    b {
                        font-weight: 600;
                    }
                }
            }

            &:nth-of-type(1) {
                border-radius: 50% 0 0 50%;
            }
            &:nth-of-type(2) {
                border-radius: 0 0 0 50%;
            }
            &:nth-of-type(3) {
                border-radius: 50% 0;
            }
            &:nth-of-type(4) {
                border-radius: 0 50%;
            }
            &:nth-of-type(5) {
                border-radius: 0 0 50% 0;
            }
            &:nth-of-type(6) {
                border-radius: 0 50% 50% 0;
            }
        }
    }
}
