.wordCloudTemplate {
    background-color: #E9E9E9;
    padding: 5vw 10%;
    @media (max-width: 768px) {
        padding: 5vw 5%;
    }
    .title {
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 5.5vw;
            line-height: 1;
            b {
                font-weight: bold;
            }
        }
    }
    .boxFlex {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        gap: 1vw;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            gap: 2vw;
            width: calc(100% - 2rem);
        }

        .card {
            border: solid 0.2vw black;
            text-decoration: none;
            padding: 0vw 2vw;
            border-radius: 3vw;
            transition-duration: .3s;
            @media (max-width: 768px) {
                padding: 1vw 2.5vw;
                border-radius: 10vw;
            }

            &:hover {
                transform: scale(1.05);
                background-color: black;
                h3 {
                    color: white;
                }
            }

            h3 {
                color: black;
                font-weight: 500;
                font-size: 1.2vw;
                @media (max-width: 768px) {
                    font-size: 4vw;
                    line-height: 1;
                }
            }
        }
    }
}