include bannerFull/index.pug
include tendencies/index.pug
include categories/index.pug
include differences/index.pug
include pagTemplate/index.pug
include creator/index.pug
include brands/index.pug
include recommendations/index.pug
include questions/index.pug
include wordCloud/index.pug
include nike/index.pug